<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>
      <form action="">


        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input>
          </ion-input>
        </ion-item>

        <ion-button size="default" routerLink="/produtos">Entrar</ion-button>

        <ion-button size="default" routerLink="/cadastro">Cadastro</ion-button>


      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
